name: Preprocessing Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas scikit-learn

    - name: Run preprocessing script
      working-directory: preprocessing
      run: |
        python automate_Rindumas.py

    - name: Commit preprocessing result
      run: |
        git config --local user.email "actions@github.com"
        git config --local user.name "GitHub Actions"
        git add preprocessing/onlinepaymentfraud_preprocessing.csv
        git commit -m "Update preprocessing dataset" || echo "No changes"

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
